/************************************
*       Fonts                  *
************************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

/************************************
*       Base Root                   *
************************************/

:root {
  --Base-color: #0065fc;
  --Base-Hover: #6bdcff;
  --Base-color-Alt: #deebff;
  --Base-color-back: #f2f2f2;
  --White-color-: rgb(255, 255, 255);
  --Dark-color-: rgb(0, 0, 0);
  --Grey-color-: #d9d9d9;

  --color-boxShadow: #e2e2e2;
  --color-boxShadow-hover: rgb(0, 0, 0, 0.7);

  --body-font-family: 'Raleway', 'sans-serif';
}

/************************************
*       Base Page                   *
************************************/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-family);
  padding: 0px 50px;
  font-size: 18px;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}
a {
  text-decoration: none;
  color: initial;
}

/************************************
*       Header-Navbar               *
************************************/
header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

header #logo {
  padding: 25px 0px;
}

header #logo img {
  width: 150px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

header nav ul li {
  padding: 50px 25px;
  border-top: 4px solid transparent;
  margin: 0px 20px 0px 20px;
}

header nav ul li:hover {
  border-color: var(--Base-color);
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

header nav ul li:hover a {
  color: var(--Base-color);
}

/************************************
*         title + search-box        *
************************************/
.title {
  font-size: 22px;
  margin: 10px 0;
}
h1 {
  margin-bottom: 0px;
}

.subtitle {
  display: block;
  margin-bottom: 20px;
}

.Bx-research {
  display: inline-flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
}

.icon-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: auto;
  background-color: var(--Base-color-back);
  border-radius: 10px 0 0 10px;
}

.fa-map-marker-alt {
  font-size: 20px;
}

.bar-research {
  padding: 0 0 0 10px;
  height: 40px;
  width: 300px;
  border: none;
  border-top: solid 1px var(--Base-color-back);
  border-bottom: solid 1px var(--Base-color-back);
}

.bar-research::placeholder {
  color: var(--Dark-color-);
  font-size: 16px;
  font-weight: 600;
}

.research-btn {
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: var(--Base-color);
  color: var(--White-color-);
  font-weight: 700;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: ease 0.3s;
}

.research-btn:hover {
  background-color: var(--Base-Hover);
  color: var(--Dark-color-);
}

#loop-icon {
  display: none;
}

/************************************
*              Filtres              *
************************************/

#filter {
  display: flex;
  align-items: center;
}

#filter .filtre-box {
  margin: 0px 10px;
  border-radius: 30px;
  border: 2px solid var(--Base-color-back);
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s;
}

#filter .filtre-box i {
  background-color: var(--Base-color-Alt);
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 100%;
  border: solid 1px var(--Base-color-Alt);
  color: var(--Base-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#filter .filtre-box:hover {
  transition: background-color 1s;
  background-color: var(--Base-color);
}

#filter .filtre-box:hover i {
  background: var(--White-color-);
  transition-duration: 0.25s;
  border: solid 1px var(--Base-color);
  outline: 5px solid transparent;
  animation: rotate-vert-center 0.3s linear;
}

#filter .filtre-box .text {
  padding: 0px 10px;
}
/************************************
*            Info                   *
************************************/
.info {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
}

.info .fas {
  color: var(--Base-color);
  font-size: 15px;
  padding: 5px 11px;
  border: solid 1px var(--Grey-color-);
  border-radius: 100%;
  margin-right: 20px;
}

.info p {
  display: inline;
}

/************************************
*           Hébergements            *
************************************/

#hebergement {
  display: flex;
  justify-content: space-between;
}

#hebergement section h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

#hebergement section .container {
  background-color: var(--Base-color-back);
  padding: 20px 20px 10px 20px;
  border-radius: 20px;
  height: calc(100% - 50px);
  box-sizing: content-box;
}

.hebergement-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergement-list a {
  width: 30%;
  margin-bottom: 50px;
}

.hebergement-list a article {
  background-color: white;
  padding: 6px;
  border-radius: 25px;
  height: 100%;
  transition: 0.5s;
  border: 1px solid transparent;
  box-shadow: 2px 3px 5px 2px transparent;
}

.hebergement-list a article:hover {
  border: 1px solid var(--Base-color);
  box-shadow: 2px 3px 5px 2px var(--color-boxShadow-hover);
  transition: 0.5s box-shadow;
}

.hebergement-list a article .fa-star.blue {
  color: var(--Base-color);
}

.hebergement-list a article .fa-star.grey {
  color: var(--Grey-color-);
}
.hebergement-list a article .imgbox {
  border-radius: 25px 25px 0px 0px;
  overflow: hidden;
}
.hebergement-list a article img {
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
}

.hebergement-list a {
  color: black;
  text-decoration: none;
}

.hebergement-list a article .article-content {
  padding: 10px 10px 0px 10px;
}

.hebergement-list a article .article-content h3,
.hebergement-list a article .article-content p {
  margin: 6px;
}

.hebergement-list a article .article-content .price.bold {
  font-weight: bold;
}

/************************************
*            Marseille              *
************************************/

#hebergement .marseille {
  width: 60%;
}

#hebergement .marseille .subtitle {
  font-weight: bold;
  font-size: 120%;
}

/************************************
*            Populaire              *
************************************/

#hebergement .populaire .chart-icone {
  position: absolute;
  top: 20px;
  right: 20px;
}

#hebergement .populaire {
  width: 35%;
  position: relative;
}

#hebergement .populaire .hebergement-list {
  flex-direction: column;
}

#hebergement .populaire .hebergement-list a {
  width: 100%;
}

#hebergement .populaire .hebergement-list a article {
  display: flex;
  flex-direction: row;
}

#hebergement .populaire .hebergement-list a article img {
  border-radius: 25px 0px 0px 25px;
  width: 35%;
}

#hebergement .populaire .hebergement-list a article .article-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/************************************
*            Activités              *
************************************/

#activite {
  margin-bottom: 60px;
}

.activite-list {
  display: flex;
  justify-content: space-between;
  height: 600px;

}

.activite-list .column {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activite-list .column article img {
  width: 100%;
  height: calc(100% - 67px);
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.activite-list .column article {
  height: 100%;
  border: 1px solid transparent;
  box-shadow: 2px 3px 5px 2px transparent;
  border-radius: 25px;
}

.activite-list .column article h3 {
  padding: 19px;
  margin: 0px;
  font-size: 105%;
}

.activite-list .column.double article {
  height: 48%;
}
.activite-list article:hover {
  border: 1px solid var(--Base-color);
  box-shadow: 2px 3px 5px 2px var(--color-boxShadow-hover);
  transition: 0.5s box-shadow;
}
/************************************
*            Footer             *
************************************/

.footer {
  background: var(--Base-color-back);
  margin: 20px -50px;
  padding: 50px;
  display: flex;
}

.footer-blocs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.footer-bloc {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
}

.footer-bloc > * {
  margin-bottom: 10px;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-link {
  transition: 0.5s;
}
.footer-link:hover {
  cursor: pointer;
  color: var(--Base-color);
  transform: translateY(-2px);
}

.footer-bloc-assistance {
  margin-right: 20%;
}

/************************************
*       Media Queries              *
************************************/

@media screen and (max-width: 992px) {
  #filter {
    flex-wrap: wrap;
  }
  #hebergement {
    flex-direction: column-reverse;
  }

  #hebergement .marseille,
  #hebergement .populaire {
    width: 100%;
    margin-bottom: 20px;
  }

  #activite .activite-list {
    flex-wrap: wrap;
    height: auto;
  }

  #activite .activite-list .column {
    width: 48%;
  }
  #activite .activite-list {
    flex-wrap: wrap;
    height: auto;
  }

  #activite .activite-list .column {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0px 20px;
  }

  header {
    flex-direction: column;
  }

  header #logo {
    margin: auto;
  }

  header nav ul {
    margin: 0px -20px;
    padding: 0;
  }

  header nav ul li {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin: 0px;
    border-top: none;
    border-bottom: 2px solid var(--Base-color-back);
  }
  #filter {
    flex-direction: column;
    align-items: flex-start;
  }

  #hebergement .marseille {
    order: 2;
  }

  #hebergement .populaire {
    order: 1;
  }
    #hebergement {
    flex-direction: column;
  }

  #hebergement .marseille .hebergement-list {
    flex-direction: column;
  }

  #hebergement .marseille .hebergement-list a {
    width: 100%;
  }
  #activite .activite-list .column {
    width: 100%;
  }

  .activite-list .column article,
  .activite-list .column.double article {
    height: 250px;
    margin-bottom: 20px;
  }

  .Bx-research {
    width: 100%;
    justify-content: flex-start;
  }
  .research-btn {
    display: none;
  }
  #loop-icon {
    display: initial;
    border-radius: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
  }
  .info {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .footer-blocs {
    width: 90%;
    display: inline-flex;
    flex-direction: column;
  }
  .footer-blocs .footer-bloc {
    padding: 10px 5px;
  }
}

/* !Animation ///////////////////////*/

.rotate-vert-center {
  -webkit-animation: rotate-vert-center 0.5s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.bounce-in-fwd {
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
